.cans-display {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2rem;
  color: #EEE;
  .cans-icon {
    display: inline-block;
    height: 3rem;
    width: 4rem;
    margin-right: 0.5rem;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    background-image:url('/public/can.png');
  }
  span {
    font-weight: 600;
    width: 4ex;
  }
}